table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: block;
    height: calc(100vh - 500px);
    overflow-y: scroll;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

  }

  
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  input{
    height: 20px;
  }

  .input-search{
    width: 100%;
    margin-bottom: 10px;
  }

  .input-title{
    margin: 10px 0;
  }

  .container-submit{
    height: 90px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
  }

  .container-pagination{
    margin-top: 10px;
    height: 30px;
    /* border: 1px solid #3a3a3a; */
  }

  .flex{
    display: flex;
  }

  .column-header div {
    display: flex;
    justify-content: space-between;
  }

  .container-pagination{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .item-pagination{
    width: 32px;
    height: 32px;
    background-color: #3a3a3a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .active{
    background-color: #210000;
  }